@model PinterCRM.Areas.CRM.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Who_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Who_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.What_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.What_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Related_To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Related_To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Send_Notification_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Send_Notification_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.All_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.All_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Account_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Account_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Event_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
