@model IEnumerable<PinterCRM.Areas.CRM.Models.Task>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}


<h2> Tasks </h2>
<div class="row">
    <div class="col-md-12">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success fa fa-plus" })
        </p>
        <table id="mytable" class="table table-striped table-bordered nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Due_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Related_To)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Priority)
                    </th>
                    <th>
                        Notifications
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        Company Name
                        @*@Html.DisplayNameFor(model => model.Account.Account_Name)*@
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Due_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Related_To)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Send_Notification_Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account.Account_Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Task_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Task_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Task_ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            // $("#mytable").dataTable();

            var table = $('#mytable').DataTable({
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Details for ' + data[0] + ' ' + data[1];
                            }
                        }),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                            tableClass: 'table'
                        })
                    }
                }
            }

            );

            //table.columns([5,6,7,8,9,10,11,12,13,14,15]).visible(false, false);
            //table.columns.adjust().draw(false); // adjust column sizing and redraw


        });
    </script>
}
