@model IEnumerable<PinterCRM.Areas.CRM.Models.Potential>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CRM/Views/Shared/_Layout.cshtml";
}

<h2> Deals </h2>
<div class="row">
    <div class="col-md-12">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success fa fa-plus" })
        </p>
        <table id="mytable" class="table table-striped table-bordered nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Deal_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deal_Owner_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created_by_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified_by_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created_Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modified_Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Closing_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Probability____)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sales_Cycle_Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Overall_Sales_Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Expected_Revenue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Account.Account_Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deal_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deal_Owner_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_by_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modified_by_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modified_Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Closing_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Probability____)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sales_Cycle_Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Overall_Sales_Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expected_Revenue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account.Account_Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Deal_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Deal_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Deal_ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>
                $(document).ready(function () {
                    // $("#mytable").dataTable();

                    var table = $('#mytable').DataTable({
                        responsive: {
                            details: {
                                display: $.fn.dataTable.Responsive.display.modal({
                                    header: function (row) {
                                        var data = row.data();
                                        return 'Details for ' + data[0] + ' ' + data[1];
                                    }
                                }),
                                renderer: $.fn.dataTable.Responsive.renderer.tableAll({
                                    tableClass: 'table'
                                })
                            }
                        }
                    }

                    );

                    //table.columns([5,6,7,8,9,10,11,12,13,14,15]).visible(false, false);
                    //table.columns.adjust().draw(false); // adjust column sizing and redraw


                });
    </script>
}
