@model IEnumerable<PinterCRM.Areas.CRM.Models.Account>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ownership)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Industry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Annual_Revenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Billing_Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Billing_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Billing_Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Billing_State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Machines_Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Spindles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_machine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact.Last_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ownership)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Industry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Annual_Revenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Billing_Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Billing_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Billing_Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Billing_State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Machines_Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Spindles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_machine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.Last_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Account_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Account_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Account_ID })
        </td>
    </tr>
}

</table>
